body {
    margin: 0;
    padding: 0;
}

.block {
    width: 200px;
    height: 100px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 2px solid black;
}

.blue {
    background-color: blue;
    top: 200px;
    left: 150px;
    z-index: 1;
}

.green {
    background-color: green;
    top: 120px;
    left: 300px;
    z-index: 2;
}

.lightblue {
    background-color: lightblue;
    top: 50px;
    left: 450px;
    z-index: 3;
}
