doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet" href="task3.css")
    body
        header#pageHeader Header
        article#mainArticle Article
        nav#mainNav Nav
        div#siteAds Ads
        footer#pageFooter Footer
