/* 3.1. Set all links to purple */
a {
    color: purple;
}

/* 3.2. Set main menu links to green */
.main-menu > li > a {
    color: green;
}

/* 3.3. Change the bullet type of the last (nested) list to square */
.berries-menu {
    list-style-type: square;
}

/* 3.4. Change the bullet type of the second (nested) list to an icon */
.veggies-menu {
    list-style-type: disc;
}

/* 3.5. Remove bullets from nested lists */
.main-menu ul ul {
    list-style: none;
}

/* 3.6. Remove underline from links in the last list */
.berries-menu a {
    text-decoration: none;
}

/* 3.7. Set custom list-item alignment in the "Різне" block */
ol {
    list-style-position: inside;
}
